
.cart-wrapper{
    height: 80vh;
    /* width: 100vw; */
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    margin: 10px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 0 auto; */
    padding: 20px 30px;
}
.img-wrapper{
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 3px 7px 0px #a59e9e;
}
img{
    height: 200px;
    width: 200px;
    margin: 10 10;
}
.btn-wrapper button {
    height: 40px;
    width: 100px;
    background-color: darkgray;
    border: none;
    border-radius: 15px;
    color: azure;
    font-size: 0.9rem;

}
.btn-wrapper button:hover{
    transition: all 1.2s ease-in-out;
    border-radius: 20px;
    box-shadow: 0px 2px 3px #000 ;
}
.cart-img{
    height: 90px;
    width: 80px;
    position: absolute;
    top: 9%;
    left: 93%;

}
.add-cart span{
    position: absolute;
    right: 40px;
    top: 50px;
    font-size: 1.9rem;
    z-index: 5;
    font-weight: 800;
    height: 37px;
    width: 37px;
    color: #fff;
    background: rgb(123 115 152 / 40%);
    box-shadow: -1px -1px 3px 0px #000;
}
@media screen and (max-width: 892px) {
    .cart-img {
        height: 90px;
    width: 80px;
    position: absolute;
    top: 9%;
    left: 80%;
    }
  }